{% extends '../layouts/base.twig' %}

{% block title %}404{% endblock %}
{% block bodyClass %}_bg{% endblock %}
{% block mainClass %}p-404{% endblock %}

{% block content %}
    <div class="container-xl p-404__container">
        <div class="p-404__inner">
            <h1 class="h1 margin-default custom-title">Ошибка 404</h1>
            <a class="btn _paper _big" href="/">На главную</a>
        </div>

        <div class="p-404__wrapper">
            <img class="p-404__img" src="/assets/img/custom/main-girl.png" alt="">
        </div>
    </div>
{% endblock %}