{% extends '../layouts/base.twig' %}

{% block title %}Авторизация{% endblock %}
{% block bodyClass %}_bg{% endblock %}
{% block mainClass %}p-lk section _with-women{% endblock %}

{% block content %}
<div class="container-xl p-lk__container">
    <div class="form-inner _small">
        <p class="form-inner__form-title">Войдите в ваш аккаунт</p>
        <form action="/" class="form">
            <div class="input">
                <input class="input__text" type="email" placeholder="Ваш email" required>
            </div>
            <div class="input">
                <input class="input__text" type="password" placeholder="Пароль" required>
            </div>
            <div class="form__inner">
                <div class="checkbox">
                    <input class="checkbox__input" type="checkbox" id="remember" name="remember">
                    <label class="checkbox__label link" for="remember">Запомнить меня</label>
                </div>
                <a class="form__forgot-link  link _revert" href="/forgot.html">Забыли пароль?</a>
            </div>
            <button class="btn _paper ">Войти в аккаунт</button>
            <button class="btn _with-icon">
                <svg class="icon"><use xlink:href="#google"/></svg>
                <span>Или войдите через Google </span>
            </button>
            <a class="form__reg-link  link _revert" href="/reg.html">Зарегистрироваться</a>
        </form>
    </div>
</div>
{% endblock %}