{% extends '../layouts/base.twig' %}

{% block title %}Карточка товара{% endblock %}
{% block mainClass %}p-card{% endblock %}

{% block content %}
    <div class="section _with-women">
        <div class="container-xl p-card__container margin-default">
            {% include '../components/card-slider.twig' %}
            <div class="p-card__inner">
                <h1 class="h2 p-card__title custom-title">Футболка</h1>
                <span class="p-card__sku">Артикул: 00324</span>
                <div class="b-price p-card__price-wrapper margin-small">
                    <span class="b-price__item _current">2000 руб.</span>
                    <span class="b-price__item _old">3000 руб.</span>
                    <button class="favorite _only-icon _active" type="button">
                        <svg class="icon">
                            <use xlink:href="#like"/>
                        </svg>
                    </button>
                </div>
                <div class="p-card__wrapper margin-small">
                    <div class="b-variations">
                        <span class="b-variations__text">Цвет</span>
                        <div class="radio" style="--radioColorBg: #000; --radioColorBgChecked: #fff" title="Белый">
                            <input class="radio__input" id="white" type="radio" name="color" checked>
                            <label class="radio__label link" for="white"></label>
                        </div>
                        <div class="radio" style="--radioColorBg: #fff" title="Чёрный">
                            <input class="radio__input" id="black" type="radio" name="color">
                            <label class="radio__label link" for="black"></label>
                        </div>
                    </div>
                    <div class="b-counter">
                        <span class="b-counter__text">Количество</span>
                        <div class="b-counter__inner">
                            <button class="b-counter__btn js-plus" type="button" disabled="disabled">-</button>
                            <input class="b-counter__input" type="text" value="1" disabled>
                            <button class="b-counter__btn js-minus" type="button">+</button>
                        </div>
                    </div>
                </div>
                <div class="p-card__size-list margin-small">
                    <div class="p-card__size-item _active js-size-item">
                        <label class="p-card__size-item-main" for="size25">25<span>25-21</span></label>
                        <input type="radio" id="size25" name="size">
                    </div>
                    <div class="p-card__size-item js-size-item">
                        <label class="p-card__size-item-main" for="size28">28<span>25-21</span></label>
                        <input type="radio" id="size28" name="size">
                    </div>
                </div>
                <button class="btn _paper _middle">Добавить в корзину</button>
                <div class="p-card__text">
                    Универсальная верхняя одежда, идеально подходящая как для летних прогулок, так и для демисезона.
                    <br>
                    Пояс, карманы, классический крой.
                    <br>
                    Размер Oversize S-L.
                    <br>
                    Чтобы получить подробную консультацию или подобрать размер, напишите нам в директ инстаграма.
                    Ткань: 70% лен + 30% хлопок
                </div>
            </div>
        </div>
    </div>
    {% include '../components/other-items.twig' %}
{% endblock %}