{% extends '../layouts/base.twig' %}

{% block title %}Карточка товара{% endblock %}
{% block mainClass %}p-card{% endblock %}

{% block content %}
    <div class="section _with-women">
        <div class="container-xl p-card__container margin-default">
            {% include '../components/card-slider.twig' %}
            <div class="p-card__inner">
                <h1 class="h2  p-card__title">Футболка</h1>
                <span class="p-card__sku">Артикул: 00324</span>
                <div class="b-price p-card__price-wrapper">
                    <span class="b-price__item _current">2000 руб.</span>
                    <span class="b-price__item _old">3000 руб.</span>
                    <button class="favorite _only-icon _active" type="button">
                        <svg class="icon"><use xlink:href="#like"/></svg>
                    </button>
                </div>
                <button class="btn _paper _middle">Добавить в корзину</button>
                <div class="p-card__text">
                    Универсальная верхняя одежда, идеально подходящая как для летних прогулок, так и для демисезона.
                    <br>
                    Пояс, карманы, классический крой.
                    <br>
                    Размер Oversize S-L.
                    <br>
                    Чтобы получить подробную консультацию или подобрать размер, напишите нам в директ инстаграма.
                    Ткань: 70% лен + 30% хлопок
                </div>
            </div>
        </div>
    </div>
{% endblock %}