{% extends '../layouts/base.twig' %}

{% block title %}Каталог{% endblock %}
{% block mainClass %}p-catalog section _with-women{% endblock %}

{% set subMenu = [
    {
        name: 'NEW',
        status: 'active'
    },
    {
        name: 'Футболки',
    },
    {
        name: 'Свитшоты и худи',
    },
    {
        name: 'Бомберы',
    },
    {
        name: 'Чехлы',
    },
    {
        name: 'Сумки',
    },
] %}

{% set cardItems = [
    {
        name: 'Футболка белая',
        desc: 'Футболка название и какой логотип',
        img: '/assets/img/catalog/item-1.png',
        link: '#',
        price: '2 000',
        priceOld: '3 000'
    },
    {
        name: 'Свитшот',
        desc: 'Футболка название и какой логотип Футболка название и какой логотип',
        img: '/assets/img/catalog/item-2.png',
        link: '#',
        price: '2 000',
        priceOld: '3 000'
    },
    {
        name: 'Худи тестирование очень длинного названия',
        desc: 'Футболка название и какой логотип',
        img: '/assets/img/catalog/item-3.png',
        link: '#',
        price: '2 000',
        priceOld: '3 000'
    },
    {
        name: 'Футболка белая',
        desc: 'Футболка название и какой логотип',
        img: '/assets/img/catalog/item-4.png',
        link: '#',
        price: '2 000',
    },
    {
        name: 'Худи тестирование очень длинного названия',
        desc: 'Футболка название и какой логотип Футболка название и какой логотип Футболка название и какой логотип',
        img: '/assets/img/catalog/item-5.png',
        link: '#',
        price: '2 000',
        priceOld: '3 000'
    },
    {
        name: 'Футболка белая',
        desc: 'Футболка название и какой логотип',
        img: '/assets/img/catalog/item-6.png',
        link: '#',
        price: '2 000',
        priceOld: '3 000'
    },
    {
        name: 'Футболка белая',
        desc: 'Футболка название и какой логотип',
        img: '/assets/img/catalog/item-1.png',
        link: '#',
        price: '2 000',
        priceOld: '3 000'
    },
    {
        name: 'Футболка белая',
        desc: 'Футболка название и какой логотип',
        img: '/assets/img/catalog/item-2.png',
        link: '#',
        price: '2 000',
    },
] %}


{% block content %}
    <div class="container-xl p-catalog__container">
        {% include '../layouts/sub-menu.twig' %}
        <div class="p-catalog__items">
            {% for item in cardItems %}
                {% include '../components/card-item.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}