{% extends '../layouts/base.twig' %}

{% block title %}Контакты{% endblock %}
{% block bodyClass %}_bg{% endblock %}
{% block mainClass %}p-contacts section{% endblock %}

{% block content %}
    <div class="container-xl p-contacts__container margin-default">
        <h1 class="h2 margin-big-second custom-title _centered">Контакты</h1>
        <div class="p-contacts__inner margin-default">
            <div class="p-contacts__item">
                <span class="p-contacts__item-desc">Телефон для связи</span>
                <a class="p-contacts__item-link link" href="tel:+79850539402">
                    +7 (985) 053 94 02
                </a>
            </div>
            <div class="p-contacts__item">
                <span class="p-contacts__item-desc">Почта по вопросам заказов</span>
                <a class="p-contacts__item-link link" href="tel:mail@gmail.com">
                    mail@gmail.com
                </a>
            </div>
        </div>
        <div class="p-contacts__inner margin-default">
            <div class="p-contacts__item">
                <span class="p-contacts__item-desc">Пункты самовывоза</span>
                <div class="p-contacts__item-link">
                    Москва, Большой Ордынский пер., 3 <br>
                    <p class="p-contacts__item-small">
                        График работы Пункта Самовывоза: <br>
                        Понедельник-Пятница 09:00-18:00
                    </p>
                </div>
            </div>
            <div class="p-contacts__item">
                <span class="p-contacts__item-desc">Техподдержка</span>
                <a class="p-contacts__item-link link" href="tel:mail@gmail.com">
                    mail@gmail.com
                </a>
            </div>
        </div>
        <div class="p-contacts__map margin-default" style="position:relative;overflow:hidden;">
            <iframe src="https://yandex.ru/map-widget/v1/-/CCUyMRCwPD" width="560" height="400" frameborder="1"
                    allowfullscreen="true" style="position:relative;">
            </iframe>
        </div>
        {% include '../components/socials.twig' %}
    </div>
    <div class="container-xl p-contacts__container-second">
        <div class="accordion__item margin-default">
            <div class="accordion__btn link">
                <span class="accordion__btn-text">Владелец: ИП Дедков Д.А.</span>
                <p class="btn-plus"><span></span></p>
            </div>
            <div class="accordion__text">
                <section class="requisites">
                    644123, Россия, Омская обл., г. Омск, ул. Конева, д. 14, кв. 87 <br>
                    ИНН: 553402793047 <br>
                    ОГРНИП: 321554300043937 <br>
                    Р/с: 40802810800002396588 <br>
                    Банк: АО «ТИНЬКОФФ БАНК» <br>
                    К/с: 30101810145250000974 <br>
                    БИК: 044525974
                </section>
            </div>
        </div>
        <div class="accordion__item margin-default">
            <div class="accordion__btn link">
                <span class="accordion__btn-text">Дистрибьютор: ООО «Торговая Компания «Параллель»</span>
                <p class="btn-plus"><span></span></p>
            </div>
            <div class="accordion__text">
                {% include '../components/requisites.twig' %}
            </div>
        </div>
        <div>
            <div class="form-inner">
                <p class="form-inner__form-title">Есть вопросы?</p>
                <p class="form-inner__form-desc">
                    Заполните форму ниже и мы свяжемся с вами в ближайшем времени
                </p>
                <form action="/" class="form">
                    <div class="input">
                        <input class="input__text" type="text" placeholder="Ваше имя" required>
                    </div>
                    <div class="input">
                        <input class="input__text phone" type="tel" placeholder="Ваш номер телефона" required>
                    </div>
                    <div class="input">
                        <input class="input__text" type="email" placeholder="Ваш email" required>
                    </div>
                    <button class="btn _paper _middle">Отправить заявку</button>
                </form>
            </div>
            <div class="p-contacts__form-wrapper hidden _success">
                <p class="p-contacts__form-title">Заявка успешно отправлена</p>
                <p class="p-contacts__form-desc">
                    Мы свяжемся с Вами в ближайшее время!
                </p>
            </div>
        </div>
    </div>
{% endblock %}