{% extends '../layouts/base.twig' %}

{% block title %}Платёж подтверждён{% endblock %}
{% block mainClass %}p-success section{% endblock %}

{% block content %}
    <div class="container-xl p-success__container">
        <svg class="icon p-success__icon">
            <use xlink:href="#success"></use>
        </svg>
        <h1 class="h2 margin-default custom-title">Платеж подтвержден</h1>
        <p class="p-success__order-number margin-small">Заказ №432432</p>
        <p>Товары в заказе</p>
        <div class="p-success__item-list">
            <div class="p-success__item">
                <img class="p-success__item-img" src="" alt="">
            </div>
        </div>
    </div>
{% endblock %}