//Сетка
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1300px,
        xxl: 1590px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1220px,
        xxl: 1560px
);

@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

:root {
    //Шрифты
    --f-primary: 'HelveticaNeueCyr-Medium', Arial, sans-serif;
    --f-secondary: 'Lora', Arial, sans-serif;
    --f-s-title: 52px;
    --f-s-h2: 32px;
    --f-s-h3: 18px;
    --f-s-body: 16px;
    @include media-breakpoint-up(lg) {
        --f-s-title: 60px;
        --f-s-h2: 40px;
        --f-s-h3: 20px;
        --f-s-body: 20px;
    }
    @include media-breakpoint-up(xl) {
        --f-s-title: 100px;
        --f-s-h2: 52px;
        --f-s-h3: 28px;
    }
    @include media-breakpoint-up(xxl) {
        --f-s-title: 188px;
        --f-s-h2: 72px;
        --f-s-h3: 36px;
    }

    //Цвета
    --c-primary: rgb(246, 77, 118);
    --c-text: rgba(39, 39, 39, 1);
    --c-text-second: rgba(147, 147, 147, 1);
    --c-lines: rgba(39, 39, 39, 0.6);
    --c-bg: rgb(245, 245, 245);
    --c-white: rgb(255, 255, 255);
    --c-black: rgb(0, 0, 0);

    //Дополнительно
    --border: 1px solid var(--c-lines);
    --border-radius: 4px;
    --transitions: all 0.4s ease;
}