.p-card {
    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
        @include media-breakpoint-up(xl) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        width: fit-content;
        @include media-breakpoint-up(xl) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px;
        }
    }

    &__inner {
        order: -1;
        @include media-breakpoint-up(xl) {
            order: 0;
        }
    }

    &__sku {
        display: block;
        margin-bottom: 20px;
        font-size: var(--f-s-body-second);
        color: var(--c-text-second);
    }

    .favorite {
        margin-left: 16px;
    }

    &__text {
        margin-top: 20px;
        font-size: var(--f-s-body-second);
        color: var(--c-text-second);
        @include media-breakpoint-up(xxl) {
            max-width: 80%;
        }

        p + p, p + ul, p + ol {
            margin-top: 8px;
        }
    }

    &__size-list {
        display: grid;
        grid-template-columns: repeat(4, 60px);
        grid-gap: 16px;
        @include media-breakpoint-up(lg) {
            grid-auto-flow: column;
            grid-auto-columns: 80px;
            grid-template-columns: none;
        }
    }

    &__size-item {
        max-width: 80px;
        padding: 4px 8px;
        border: var(--border);
        border-radius: var(--border-radius);
        cursor: pointer;
        transition: var(--transitions);
        &:hover, &._active {
            border-color: var(--c-primary);
            color: var(--c-primary);
        }
        
        input {
            display: none;
        }
    }

    &__size-item-main {
        display: block;
        text-align: center;
        cursor: pointer;
        span {
            display: block;
            font-size: var(--f-s-small);
            text-align: center;
        }
    }
}