.p-card {
    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
        @include media-breakpoint-up(xl) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__inner {
        order: -1;
        @include media-breakpoint-up(xl) {
            order: 0;
        }
    }

    &__sku {
        display: block;
        margin-bottom: 20px;
        font-size: var(--f-s-body-second);
        color: var(--c-text-second);
    }

    .favorite {
        margin-left: 16px;
    }

    &__text {
        margin-top: 20px;
        font-size: var(--f-s-body-second);
        color: var(--c-text-second);
        @include media-breakpoint-up(xxl) {
            max-width: 80%;
        }

        p + p, p + ul, p + ol {
            margin-top: 8px;
        }
    }
}