.p-contacts {
    &__container {
        display: grid;
        grid-gap: 40px;
        min-height: calc(100vh - var(--mobileHeaderHeight));
        @include media-breakpoint-up(lg) {
            grid-template-columns: 1fr 1fr;
            height: 100%;
            min-height: auto;
        }
    }

    &__item-desc {
        display: block;
        margin-bottom: 8px;
    }

    &__item-link {
        display: block;
        font-size: var(--f-s-h2);
        line-height: 1;
    }
}