.current-order {
    overflow: auto;

    &__inner {
        min-width: 900px;
        border: var(--border);
        &._no-border {
            border: none;
        }
    }

    &__header {
        display: grid;
        grid-template-columns: repeat(5, auto) 44px;
        grid-gap: 20px;
        align-items: center;
        padding: 20px 28px;
        border-bottom: var(--border);
    }

    &__header-desc {
        display: block;
        font-size: var(--f-s-small);
        color: var(--c-text-second);
    }

    &__header-term {
        font-weight: 700;
    }

    &__header-visible {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-left: 20px;
        border-left: var(--border);
        transition: var(--transitions);
        &:hover {
            opacity: 0.7;
        }
    }

    &__body {
        padding: 40px 28px 60px;
    }

    &__items {
        display: grid;
        grid-gap: 40px;
    }

    &__row {
        display: grid;
        grid-template-columns: 212px repeat(5, auto);
        grid-gap: 20px;
        align-items: center;
    }

    &__img {
        display: block;
        width: 100%;
        max-height: 180px;
        object-fit: contain;
    }

    &__name {
        font-size: var(--f-s-h3);
        font-weight: 700;
    }

    &__total {
        display: grid;
        grid-gap: 20px;
        max-width: 400px;
        margin-bottom: 28px;
        @include media-breakpoint-up(lg) {
            margin-left: auto;
        }
    }

    &__total-row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        grid-gap: 20px;
    }

    &__total-term {
        text-align: right;
        &._color {
            color: var(--c-primary);
        }
    }

    &__info-item-desc {
        margin-bottom: 4px;
        font-size: var(--f-s-h4);
        font-weight: 600;
    }

    &__info-item-term {
        color: var(--c-text-second);
    }
}