.form {
    --formPoliticsFontSize: var(--f-s-small);
    display: grid;
    grid-gap: 20px;

    &__inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 12px;
        align-items: center;
        @include media-breakpoint-up(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        &._second {
            @include media-breakpoint-up(sm) {
                grid-template-columns: 1.5fr 1fr;
            }
        }
    }

    &__forgot-link {
        justify-self: flex-end;
        text-align: right;
    }

    &__reg-link {
        display: block;
        width: 100%;
        text-align: center;
    }

    &__politics {
        font-size: var(--formPoliticsFontSize);
    }

    .checkbox {
        --checkboxFontSize: var(--f-s-body-second);
    }
}