.logo {
    max-width: 100px;
    height: 100px;
    transition: var(--transition);
    &:hover {
        opacity: 0.8;
    }

    &__img {
        display: block;
        width: 100%;
        height: inherit;
        object-fit: contain;
    }
}