.overlay {
    --overlayBg: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 150;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: var(--overlayBg);
    animation: overlay 0.4s ease;

    &._active-age-control {
        display: block;
        z-index: 1000;
    }

    &._active {
        display: block;
    }
}