.margin-default {
    margin-bottom: 24px;
    @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
    }
    @include media-breakpoint-up(xxl) {
        margin-bottom: 44px;
    }
}

.margin-big-second {
    margin-bottom: 28px;
    @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
    }
    @include media-breakpoint-up(xxl) {
        margin-bottom: 60px;
    }
}

.margin-big {
    margin-bottom: 40px;
    @include media-breakpoint-up(lg) {
        margin-bottom: 60px;
    }
    @include media-breakpoint-up(xxl) {
        margin-bottom: 80px;
    }
}

.section {
    padding-top: 28px;
    padding-bottom: 40px;
    @include media-breakpoint-up(xl) {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    &._with-women {
        position: relative;
        &::before, &::after {
            @include media-breakpoint-up(lg) {
                content: '';
                position: absolute;
                bottom: 0;
            }
        }

        &::before {
            @include media-breakpoint-up(lg) {
                left: 0;
                width: 36vw;
                height: 36vw;
                background: url("/assets/img/custom/main-girl-2.png") no-repeat;
                background-size: contain;
            }
        }

        &::after {
            @include media-breakpoint-up(lg) {
                right: 0;
                width: 32vw;
                height: 32vw;
                background: url("/assets/img/custom/art-woman.png") no-repeat right;
                background-size: contain;
            }
        }
    }
}