.h1{
    margin-bottom: 20px;
    font-family: var(--f-secondary);
    font-style: italic;
    font-size: var(--f-s-title);
    font-weight: 500;
    line-height: 1;
    @include media-breakpoint-up(lg) {
        margin-bottom: 20px;
    }
}

.h2 {
    margin-bottom: 4px;
    font-size: var(--f-s-h2);
    font-weight: 500;
    line-height: 1;
    @include media-breakpoint-up(lg) {
        margin-bottom: 16px;
    }
}