.custom-title {
    margin-bottom: 12px;
    font-family: var(--f-secondary);
    font-style: italic;
    font-weight: 600;
    line-height: 1;
    @include media-breakpoint-up(lg) {
        margin-bottom: 20px;
    }
    &._centered {
        text-align: center;
    }
}

.h1{
    margin-bottom: 20px;
    font-size: var(--f-s-title);
    @include media-breakpoint-up(lg) {
        margin-bottom: 20px;
    }
}

.h2 {
    font-size: var(--f-s-h2);
}

.h3 {
    font-size: var(--f-s-h3);
}