<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="body {% block bodyClass %}{% endblock %}">

{% include 'header.twig' %}
{% include 'mobile-side.twig' %}
<main class="main {% block mainClass %}{% endblock %}">
    {% block content %}{% endblock %}
</main>

{% include 'footer.twig' %}
{% include '../components/age-control.twig' %}
<div class="overlay js-overlay"></div>
<div id="svg-icons"></div>
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

</body>