<footer class="footer">
    <div class="footer__container container-fluid margin-default">
        <span class="footer__logo">Eva Elfie</span>
        <p class="footer__copyright">Все права защищены © 2021</p>
        {% include '../components/socials.twig' %}
    </div>
    <div class="container-fluid footer__container-second">
        {% include 'footer-menu.twig' %}
    </div>
</footer>