{% set mainMenu =[
    {
        name: 'Каталог',
        link: '/catalog.html',
    },
    {
        name: 'Доставка и оплата',
        link: '/delivery.html',
    },
    {
        name: 'Комиксы',
        link: '/comics',
    },
    {
        name: 'Контакты',
        link: '/contacts',
    },
] %}

<nav class="main-menu">
    <ul class="main-menu__list">
        {% for item in mainMenu %}
            <li class="main-menu__item">
                <a class="main-menu__item-link link" href="{{ item.link }}">
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>