<section class="modal age-control hidden js-age-control">
    <div class="age-control__inner modal__inner">
        <img class="age-control__img" src="/assets/img/custom/main-girl.png" alt="">
        <p class="sub-title age-control__title">
            <span class="age-control__title-1">Вам уже есть</span>
            <span class="age-control__title-2">18 лет?</span>
        </p>
        <div class="age-control__btn-inner">
            <button class="btn _paper js-accept-age-control _middle" type="button">Да, мне есть 18</button>
            <button class="btn _paper _paper-disabled js-close-age-control _middle" type="button">
                Нет, мне меньше 18
            </button>
        </div>
    </div>
</section>