<section class="current-order">
    <div class="current-order__header">
        <p class="current-order__num">
            <strong>№ elfiesshop0001</strong> от 12.09.2022
        </p>
        <div class="current-order__header-col">
            <span class="current-order__header-desc">Сумма заказа</span>
            <span class="current-order__header-term">7 000 руб.</span>
        </div>
        <div class="current-order__header-col">
            <span class="current-order__header-desc">Статус </span>
            <span class="current-order__header-term">Отправлен</span>
        </div>
        <div class="current-order__header-col">
            <span class="current-order__header-desc">Трек-код</span>
            <span class="current-order__header-term">#3247324</span>
        </div>
        <a class="btn _paper" href="#">Отследить</a>
        <button class="current-order__header-visible" type="button">
            <svg class="icon">
                <use xlink:href="#arrow"></use>
            </svg>
        </button>
    </div>
    <div class="current-order__body">
        <div class="current-order__items margin-default">
            <div class="current-order__row">
                <img class="current-order__img" src="/assets/img/catalog/item-1.png" alt="">
                <div class="current-order__col">
                    <span class="current-order__name">Комикс</span>
                    <span class="current-order__header-desc">Артикул №00001</span>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Стоимость товара</span>
                    <strong>2 000 ₽</strong>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Количество</span>
                    <strong>1</strong>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Стоимость доставки</span>
                    <strong>500 ₽</strong>
                </div>
            </div>
            <div class="current-order__row">
                <img class="current-order__img" src="/assets/img/catalog/item-2.png" alt="">
                <div class="current-order__col">
                    <span class="current-order__name">Комикс</span>
                    <span class="current-order__header-desc">Артикул №00001</span>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Стоимость товара</span>
                    <strong>2 000 ₽</strong>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Количество</span>
                    <strong>1</strong>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Стоимость доставки</span>
                    <strong>500 ₽</strong>
                </div>
            </div>
            <div class="current-order__row">
                <img class="current-order__img" src="/assets/img/catalog/item-3.png" alt="">
                <div class="current-order__col">
                    <span class="current-order__name">Комикс</span>
                    <span class="current-order__header-desc">Артикул №00001</span>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Стоимость товара</span>
                    <strong>2 000 ₽</strong>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Количество</span>
                    <strong>1</strong>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Стоимость доставки</span>
                    <strong>500 ₽</strong>
                </div>
            </div>
        </div>
        <div class="current-order__total">

        </div>
    </div>
</section>