<section class="modal" data-modal="sizes">
    <button class="modal__close" type="button">
        <svg class="icon" aria-hidden="true"><use href="#close"/></svg>
    </button>
    <div class="modal__inner">
        <img src="/assets/img/catalog/sizes.png" alt="">
    </div>
</section>

{% include '../components/add-cart-modal.twig' %}
