<section class="modal" data-modal="sizes">
    <button class="modal__close" type="button">
        <svg class="icon" aria-hidden="true"><use href="#close"/></svg>
    </button>
    <div class="modal__inner">
        <img src="/assets/img/catalog/sizes.png" alt="">
    </div>
</section>

<section class="themes-switcher">
    <button class="themes-switcher__btn link" data-type="theme-white" type="button">Белый фон</button>
    <button class="themes-switcher__btn link" data-type="theme-grad" type="button">Градиент</button>
    <button class="themes-switcher__btn link" data-type="theme-grad-light" type="button">Светлый градиент</button>
</section>


{% include '../components/add-cart-modal.twig' %}
