<section class="requisites">
    Владелец: ИП Дедков<br>
    Юридический адрес организации:<br>
    111524, Россия, Москва, ул. Электродная, д. 8, стр. 2, пом. Х, комн. 12Б<br>
    ИНН/КПП: 7720475674 / 772001001<br>
    ОГРН: 1197746464684<br>
    Р/с: 40702810810000582934<br>
    Банк: АО "ТИНЬКОФФ БАНК"<br>
    БИК банка: 044525974<br>
    Юр. адрес банка: Москва, 123060, 1-й Волоколамский проезд, д. 10, стр. 1<br>
    К/c банка: 30101810145250000974<br>
    ИНН банка: 7710140679<br>
    Фактический адрес организации (Склад): 109428, Россия, Москва, ул. Стахановская 18с1, пом. №4<br>
</section>