.body {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 102vh;
    font-family: var(--f-primary);
    font-size: var(--f-s-body);
    line-height: 1.5;
    color: var(--c-text);
    &._bg {
        background: url('/assets/img/custom/cover-bg.jpg'), linear-gradient(180deg, #A7FAFF 0%, #F77CAD 76.25%), linear-gradient(180deg, #FFF6A7 0%, #F77CAD 76.25%);
        background-size: cover;
    }

    &._bg-light {
        background: linear-gradient(180deg, rgba(227, 244, 245, 0.8) 16.15%, rgba(254, 170, 204, 0.8) 88.02%);
    }

    &._fixed {
        @include media-breakpoint-up(lg) {
            height: 100vh;
            overflow: hidden;
        }
    }

    &._no-scroll {
        overflow-y: hidden;
    }
}