.body {
    font-family: var(--f-primary);
    font-size: var(--f-s-body);
    line-height: 1.5;
    color: var(--c-text);
    &._index {
        background: linear-gradient(180deg, #A7FAFF 0%, #F77CAD 76.25%), linear-gradient(180deg, #FFF6A7 0%, #F77CAD 76.25%);
    }
}