.sub-menu {
    overflow: auto;
    &__list {
        display: grid;
        grid-auto-flow: column;
        width: fit-content;
        margin: 0 auto;
        min-width: 650px;
        overflow: hidden;
    }

    &__item {
        &:not(:last-child) {
            padding-right: 20px;
            border-right: var(--border);
            margin-right: 20px;
        }
    }

    &__link {
        font-weight: 500;
        color: var(--c-text-second);
        transition: var(--transitions);
        &:hover {
            color: var(--c-text);
        }
        &._active {
            color: var(--c-text);
            border-bottom: var(--border);
            border-color: var(--c-primary);
            border-width: 2px;
        }
    }
}